<mat-card>
    <mat-card-title>
        <h1>{{server?.name}}</h1>
    </mat-card-title>
    <mat-card-subtitle>
        <p>{{server?.cloudProvider?.name || 'No Cloud?'}}</p>
    </mat-card-subtitle>
    <mat-card-content>
        <mat-tab-group>
            <mat-tab label="Details">
                <div class="tab-content">
                    <table>
                        <tr>
                            <td><b>Id:</b></td>
                            <td>{{server?.id}}</td>
                        </tr>
                        <tr>
                            <td><b>Cloud id:</b></td>
                            <td>{{server?.cloudId}}</td>
                        </tr>
                    </table>
                </div>
            </mat-tab>
            <mat-tab label="Access">
                <div class="tab-content">
                    <table>
                        <tr>
                            <td><b>Public key:</b></td>
                            <td>{{server?.publicSshKey?.name}}</td>
                        </tr>
                    </table>
                </div>
            </mat-tab>
            <mat-tab label="Administration">
                <div class="tab-content">
                    <button mat-raised-button color="warn" (click)="confirmDeleteServer()">Delete</button>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>