/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-indigo   );
$accent: mat-palette($mat-pink, A400, A300, A600);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.color-primary {
    color: mat-color($primary);
}

.background-color-primary {
    background-color: mat-color($primary);
}
  
.color-accent {
    color: mat-color($accent);
}

.background-color-accent {
    background-color: mat-color($accent);
}