/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A400, A300, A600);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.color-primary {
    color: mat-color($primary);
}

.background-color-primary {
    background-color: mat-color($primary);
}
  
.color-accent {
    color: mat-color($accent);
}

.background-color-accent {
    background-color: mat-color($accent);
}

.status-chip {
    &.status-failing {
        background-color: #F57C00;
        color: white;
    }
    &.status-offline {
        background-color: #F24236;
        color: white;
    }
    &.status-unknown {
        background-color: #4FC3F7;
        color: white;
    }
    &.status-running {
        background-color: #7AC74F;
        color: white;
    }
    &.status-slow {
        background-color: #FFE74C;
    }
}